[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq.saraldevops.online
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=GIVE_ROBOSHOP_USER_PASSWORD
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target